header 
.logo{
    max-width:200px;
    display:block;
    margin:0 auto;
}
.buttonContainer{        
    margin-top:50px;
    display:flex;
    justify-content:space-evenly;   
}  
button{
    padding:10px;
}
.animalImage{
    max-width:25%;
    margin-top:10px;
}
.imageContainer{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}